{:paths ["src"]

 :deps  {org.clojure/tools.deps {:mvn/version "0.21.1449"}
         org.clojure/tools.gitlibs {:mvn/version "2.5.197"}
         io.github.seancorfield/deps-new {:git/url "https://github.com/seancorfield/deps-new"
                                          :git/tag "v0.8.0"
                                          :git/sha "2f96530"}}

 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               nubank/matcher-combinators {:mvn/version "3.9.1"}}}

           :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.50.2"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :test {:main-opts ["-m" "kaocha.runner"]}

           :uberjar {:deps {io.github.seancorfield/build-clj
                            {:git/tag "v0.9.2" :git/sha "9c9f078"
                             :deps/root "slim"}}
                     :exec-fn org.corfield.build/uber
                     :exec-args {:main cc.delboni.main
                                 :uber-file "target/deps-new-wrap.jar"}}

           ;; commands
           :new {:ns-default cc.delboni.main
                 :exec-fn new}}}
